@keyframes shake {
  25% {
    transform: rotate(-2deg);
  }
  75% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes apparition {
  from {
    opacity: 0;
    top: 50px;
  }
  to {
    opacity: 1;
    top: 0px;
  }
}
@keyframes content {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.spinner {
  position: absolute;
  margin: 250px auto 0;
  width: 70px;
  text-align: center;
  left: 48%;
}

.spinner > div {
  width: 18px;
  height: 18px;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 800ms 4 ease-in-out both;
  animation: sk-bouncedelay 800ms 4 ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
  background-color: #9356DC;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
  background-color: #FF79DA;
}

.spinner .bounce3 {
  background-color: #99E2D0;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}
@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
/*@import "./utils/extensions";*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#conteneur {
  max-width: 500px;
  margin: auto;
  animation: content 2000ms 1000ms backwards;
}

.fondresto {
  max-width: 500px;
}

.menuresto {
  background-color: #f6f6f6;
  border-radius: 40px 40px 0 0;
  position: relative;
  bottom: 50px;
  padding: 40px 10px;
}
.menuresto .fa-heart {
  float: right;
  margin-right: 20px;
}
.menuresto .entrees {
  position: relative;
  animation: apparition 800ms ease-in-out 2000ms both;
}
.menuresto .plats {
  position: relative;
  animation: apparition 800ms ease-in-out 2500ms both;
}
.menuresto .desserts {
  position: relative;
  animation: apparition 800ms ease-in-out 3000ms both;
}
.menuresto h1 {
  font-weight: normal;
}
.menuresto h2 {
  margin: 30px 0 20px;
  border-bottom: 3px solid #99E2D0;
  width: 35px;
  font-size: 14px;
  padding-bottom: 5px;
  font-weight: lighter;
  text-transform: uppercase;
}
.menuresto .choix {
  background-color: white;
  margin: 10px 0;
  border-radius: 20px;
  padding-left: 12px;
  box-shadow: 5px 5px 15px 3px #D6D6D6;
  overflow: hidden;
}
.menuresto .choix .animvalid {
  float: right;
  color: white;
  font-size: 25px;
  background-color: #99E2D0;
  width: 0;
  text-align: center;
  height: 60px;
  line-height: 60px;
  transition: all 500ms ease-in-out;
}
.menuresto .choix h3 {
  margin: 10px 0 5px;
  font-size: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: calc(100% - 60px);
  overflow: hidden;
  transition: width 500ms ease-in-out;
}
.menuresto .choix p {
  margin-bottom: 10px;
  padding-right: 10px;
  font-size: 13px;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
  transition: width 500ms ease-in-out;
}
.menuresto .choix span {
  float: right;
  font-size: 16px;
  font-weight: bold;
  padding-right: 20px;
}
.menuresto .choix:hover .animvalid {
  width: 60px;
}
.menuresto .choix:hover .fa-circle-check {
  transform: rotate(720deg);
}
.menuresto .bouton {
  position: relative;
  width: 50%;
  left: 25%;
  margin-top: 50px;
}

.fa-circle-check {
  transition: all 750ms ease-in-out;
}

h1 {
  font-family: "Shrikhand", sans-serif;
}

* {
  font-family: "Roboto", sans-serif;
}

.bouton {
  font-size: 20px;
  width: 300px;
  height: 60px;
  margin-bottom: 50px;
  border: 0;
  border-radius: 50px;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  color: white;
}
.bouton:hover {
  animation: shake 300ms;
}

.return {
  text-decoration: none;
  color: black;
}
.return .fa-arrow-left {
  font-size: 25px;
  line-height: 30px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: relative;
  top: 50px;
  left: 50px;
  text-align: center;
}
.return .fa-arrow-left:hover {
  background-color: grey;
}

.logo {
  width: 40%;
  height: auto;
  margin: 15px 30% 15px 30%;
}

.card {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card p {
  background-color: #eaeaea;
  width: 100%;
  text-align: center;
  padding: 18px;
  font-size: 20px;
  border-top: solid 3px #d6d6d6;
  font-weight: bold;
}
.card .fa-location-dot {
  margin-right: 20px;
}
.card h2 {
  padding: 40px 20% 15px 20%;
  font-size: 30px;
  text-align: center;
}
.card h3 {
  font-size: 22px;
  padding: 0 10% 30px 10%;
  text-align: center;
  font-weight: normal;
}

.fonctionnement h1 {
  margin-top: 50px;
  margin-left: calc(10% - 15px);
}

.modeemploi {
  background-color: #f6f6f6;
  width: 80%;
  height: 90px;
  border-radius: 25px;
  margin: 25px auto;
  box-shadow: 5px 5px 15px 3px #D6D6D6;
  font-size: 20px;
  font-weight: bold;
  line-height: 90px;
  transition: all 0.5s;
}
.modeemploi:hover {
  background-color: #f2eafb;
}
.modeemploi .fa-solid {
  color: #9356DC;
  margin-right: 5%;
}
.modeemploi span {
  background-color: #9356DC;
  color: white;
  border-radius: 100%;
  padding: 6px 10px;
  position: relative;
  right: 15px;
  font-size: 16px;
  font-weight: normal;
}

.restaurant {
  width: 100%;
  padding: 50px 20px;
  background-color: #f6f6f6;
}

.card-resto {
  background-color: white;
  border-radius: 20px;
  height: 275px;
  width: 100%;
  max-height: 400px;
  margin-right: 30px;
  margin-top: 30px;
  box-shadow: 0 0 5px #DEEBFF;
  color: #333;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}
.card-resto__image {
  height: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 20px 20px 0 0;
  margin-bottom: 10px;
}
.card-resto__image img {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -55%);
}
.card-resto__body {
  font-size: 12px;
  padding-left: 10px;
  box-sizing: border-box;
}
.card-resto__body__like {
  float: right;
  margin: 10px 5% 0 0;
}
.card-resto__body__like .fa-heart {
  font-size: 25px;
  color: black;
}
.card-resto__body__restaurant {
  margin: 5px 0;
}
.card-resto__body__lieu {
  font-size: 14px;
}
.card-resto__body h3 {
  font-weight: normal;
}

footer {
  background-color: #353535;
  color: white;
  height: 250px;
  padding: 10px 30px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
footer h1 {
  margin: 10px 0;
  font-size: 18px;
  font-weight: normal;
  font-style: italic;
}
footer .fa-solid {
  width: 30px;
}

.footermenu {
  position: relative;
  bottom: 50px;
}

/*@import "./layouts/container";
@import "./layouts/form";
@import "./pages/work";
@import "./pages/about";
@import "./pages/project";*/

/*# sourceMappingURL=style.css.map */
