*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#conteneur{
    max-width: 500px;
    margin: auto;
    animation: content 2000ms 1000ms backwards;
}

.fondresto{
    max-width: 500px;
}

.menuresto{
    background-color: $couleur_de_fond;
    border-radius: 40px 40px 0 0;
    position: relative;
    bottom: 50px;
    padding: 40px 10px;
    .fa-heart{
        float: right;
        margin-right: 20px;
    }
    .entrees{
        position: relative;
        animation: apparition 800ms ease-in-out 2000ms both;
    }
    .plats{
        position: relative;
        animation: apparition 800ms ease-in-out 2500ms both;
    }
    .desserts{
        position: relative;
        animation: apparition 800ms ease-in-out 3000ms both;
    }
    h1{
        font-weight: normal;
    }
    h2{
        margin: 30px 0 20px;
        border-bottom: 3px solid $couleur_tertiaire;
        width: 35px;
        font-size: 14px;
        padding-bottom: 5px;
        font-weight: lighter;
        text-transform: uppercase;
    }
    .choix{
        background-color: white;
        margin: 10px 0;
        border-radius: 20px;
        padding-left: 12px;
        box-shadow: 5px 5px 15px 3px #D6D6D6;
        overflow: hidden;
        .animvalid{
            float: right;
            color: white;
            font-size: 25px;
            background-color: $couleur_tertiaire;
            width: 0;
            text-align: center;
            height: 60px;
            line-height: 60px;
            transition: all 500ms ease-in-out;
        }
        h3{
            margin: 10px 0 5px;
            font-size: 16px;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: calc(100% - 60px);
            overflow: hidden;
            transition: width 500ms ease-in-out;
        }
        p{
            margin-bottom: 10px;
            padding-right: 10px;
            font-size: 13px;
            text-overflow: ellipsis;
            white-space: nowrap;
            max-width: 100%;
            overflow: hidden;
            transition: width 500ms ease-in-out;
        }
        span{
            float: right;
            font-size: 16px;
            font-weight: bold;
            padding-right: 20px;
        }
        &:hover{
            .animvalid{
                width: 60px;
            }.fa-circle-check{
                transform: rotate(720deg);
            }
        }
        
    }
    .bouton{
        position: relative;
        width: 50%;
        left: 25%;
        margin-top: 50px;
    }
}



.fa-circle-check{
    transition: all 750ms ease-in-out
}

