footer{
    background-color: #353535;
    color: white;
    height: 250px;
    padding: 10px 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    h1{
        margin: 10px 0;
        font-size: 18px;
        font-weight: normal;
        font-style: italic;
    }
    .fa-solid{
        width: 30px;
    }
}

.footermenu{
    position: relative;
    bottom: 50px;
}